:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--black: #000000;
	--white: #ffffff;
	--gray: #707070;
	--gold: #bf7631;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

/* NAVBAR STYLES */
.navbar {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	font-size: 1.4em;
	text-transform: uppercase;
	margin: 1em 8em;
	padding: 0 0 1em 0;
	border-bottom: 0.3em solid var(--black);
}

.navbar-items {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style-type: none;
}

.navbar-item {
	margin: 0 3em 0 0;
}

.navbar-item > a {
	color: var(--black);
	text-decoration: none;
}

.navbar-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-title {
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 0.25em;
	margin-right: -0.25em;
}

.logo {
	height: 2.5em;
	margin: 0 0.1em;
}

.navbar-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar-search-box {
	border: 0.15em solid var(--gray);
	margin: 0 2em 0 0;
}

.navbar-search-box > input[type="search"] {
	background-color: var(--white);
	background-image: url("../images/1200px-Google_Magnifying_Glass.svg.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 1.4em;
	border: none;
	outline: none;
	display: inline-block;
	padding: 0 1.25em 0 0.5em;
	vertical-align: middle;
	line-height: 1.5;
	font-size: 1em;
	width: 15em;
}

/* HERO STYLES */
.hero {
	display: flex;
	justify-content: center;
}

.hero-bg-image {
	background: linear-gradient(
			to right,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 1) 15%,
			rgba(0, 0, 0, 1) 15%,
			rgba(0, 0, 0, 0) 25%,
			rgba(0, 0, 0, 0) 25%,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0) 75%,
			rgba(0, 0, 0, 0) 75%,
			rgba(0, 0, 0, 1) 85%,
			rgba(0, 0, 0, 1) 85%,
			rgba(0, 0, 0, 1) 100%
		),
		url("../images/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 70vh;
}

.hero-text {
	display: flex;
	justify-content: space-between;
	font-size: 2.4em;
	color: var(--white);
	text-transform: uppercase;
	width: 90%;
	margin: 4em 0;
}

.hero-text-left {
	align-self: flex-start;
	font-weight: 100;
	width: 20%;
}

.hero-text-right {
	align-self: flex-end;
	font-weight: 100;
	width: 20%;
	text-align: right;
}

/* ABOUT STYLES */
.about-container {
	display: grid;
	grid-template-columns: 6fr 4fr;
	grid-template-rows: auto auto auto;
	gap: 0 5em;
	grid-auto-flow: row;
	grid-template-areas:
		"text-only-area right-img-area"
		"img-text-area right-img-area"
		"img-text-area right-img-area";
}

.text-only-area {
	grid-area: text-only-area;
}

.img-text-area {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0 2.5em;
	grid-auto-flow: row;
	grid-template-areas: "img-left-area text-right-area";
	grid-area: img-text-area;
}

.img-left-area {
	grid-area: img-left-area;
}

.left-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-right-area {
	grid-area: text-right-area;
}

.right-img-area {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 0;
	grid-auto-flow: row;
	grid-template-areas: ".";
	grid-area: right-img-area;
}

.right-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* PRODUCTS STYLES */
.products-grid {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
	gap: 12em 15em;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-image {
	display: block;
	width: 100%;
	height: 40em;
	object-fit: cover;
	border: 0.1em solid var(--gray);
}

.product-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0.5em 0;
	padding: 1em 0;
	position: relative;
	font-size: 1.4em;
	text-transform: uppercase;
}

.product-title {
	font-weight: 100;
}

.product-info::after {
	display: block;
	content: "";
	border-bottom: 0.35em solid var(--black);
	width: 75%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.product-price {
	font-weight: 100;
	font-size: 1.4em;
}

.product-description {
	font-size: 1.4em;
	margin: 0.75em 0;
}

.product-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	text-transform: uppercase;
	margin: 0.5em 0;
}

/* CONTACT STYLES */
.contact-form {
	width: 70%;
	margin: 0 auto;
}

.contact-form-inputs {
	display: flex;
	flex-direction: column;
}

.contact-form-inputs > label {
	font-size: 1.6em;
	font-weight: 100;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0.5em 0;
}

.contact-form-inputs > input[type="text"],
.contact-form-inputs > textarea {
	border: 0.1em solid var(--gray);
	padding: 1em;
	font-family: var(--font-family);
	outline: none;
}

.form-btn {
	margin: 3em 0 0 0;
	align-self: flex-end;
}

#message {
	height: 15em;
}

/* FOOTER STYLES */
.footer {
	display: flex;
	flex-direction: column;
	background-color: var(--gold);
	padding: 2em 0;
}

.footer > .social {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer-icons {
	height: 4em;
}

.footer .footer-logo {
	display: flex;
	align-items: center;
}

.footer-logo > .logo-title {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 600;
}

.footer-logo > .logo {
	font-size: 2em;
}

.footer > .company-message {
	display: flex;
	text-align: right;
	font-size: 1.2em;
}

.footer > .company-message > * {
	flex: 1;
	padding: 0 1em 0 0;
}

/* SECTION STYLES */
.section {
	margin: 10em;
}

/* HEADER STYLES */
.main-header {
	font-size: 3.2em;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.15em;
	margin: 0 0 2em 0;
}

.main-header::after {
	display: block;
	content: "";
	border-bottom: 0.15em solid var(--black);
	width: 60%;
	margin: 0.25em 0 0 0;
}

/* TEXT STYLES */
.text {
	font-size: 1.4em;
	letter-spacing: 0.05em;
	padding: 0 0 5em 3.5em;
}

/* BUTTON STYLES */
.primary-button {
	background-color: var(--gold);
	padding: 0.25em 0.75em;
	color: var(--white);
	text-transform: uppercase;
	font-size: 1.4em;
	border: 0.15em solid transparent;
	min-width: 8em;
}

.primary-button:hover {
	cursor: pointer;
	border: 0.15em solid var(--gray);
}

/* LINK STYLES */
.primary-link {
	color: var(--gold);
	font-size: 1.4em;
	letter-spacing: 0.1em;
}

.primary-link:hover {
	filter: brightness(85%);
}

/* UTILITY STYLES */
.reverse {
	transform: scaleX(-1);
}
